 /* reset styles */

:root{
  --accent-color: tomato;
}
 .list {
    list-style: none;
}
.line {
  text-decoration: none;  
}
.body{
  font-family: 'Roboto',sans-serif;
}
/* Compontnts */

.service-btn {  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;  
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer; 
  background-color: #4D5AE5; 
}

.service-btn:hover,
.service-btn:focus {
  background-color: var(--accent-color);
  color: #FFFFFF; 
  }

.port-baton{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;  
  color: #FFFFFF;  
  background: #404BBF;
  cursor: pointer
}
.service-port-btn:hover,
.service-port-btn:focus {
  background-color: var(--accent-color);
  color: #FFFFFF;  
  
}
.port-baton-menu{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
background: #F4F4FD;
cursor: pointer
}
/* header */

.logo-link {
font-family: 'Raleway',sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color: #2E2F42;
background: #FFFFFF;
text-transform: uppercase;
}
.logo-link:hover,
.logo-link:focus{
 color:  #4D5AE5;
}
.logo-text{
  color: #4D5AE5;
  text-transform: uppercase;
}

.menu-item {
 font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;  
  letter-spacing: 0.02em;  
  color: #2E2F42;
  }
  .menu-item:hover,
  .menu-item:focus {
    color:  #4D5AE5 ;
  }
  
/* contact */

.contact-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;  
  letter-spacing: 0.02em;  
  color: #434455;
}
.contact-tel:hover,
.contact-tel:focus {
  color: #4D5AE5;
}
/* Title */

.hero-name { 

font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color:#FFFFFF;
}
.title-fon{
  background-color: #2E2F42;
}

/* Strategy */
.second-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;  
  text-align: center;
  letter-spacing: 0.02em;  
  color: #2E2F42;
}

.third-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.strategi-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* Our Team */
.our-team-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5; 
  letter-spacing: 0.02em;  
  color: #434455;
}

/* footer */
.footer-text{  
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.footer-fon{
  background: #2E2F42;
}
.studio-test{
  color: #FFFFFF;
}