 /*----------------- reset styles----------------------- */

:root{
  --accent-color: #4D5AE5;
--secodori-color:#FFFFFF;
--third-color:  #404BBF;
--fourth-color: #2E2F42;
}
 .list {
    list-style: none;
}
.line {
  text-decoration: none;  
}
body {
  font-family: 'Roboto',sans-serif;
  background-color: #FFFFFF;
}
  

/* ---------------------Compontnts -----------------------*/

.service-btn {  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;  
  display: flex;
  align-items: center;
  letter-spacing: 0.04em; 
  color: #FFFFFF;
  background:  var(--accent-color );
  cursor: pointer; 
}

.service-btn:hover,
.service-btn:focus {
  background-color: var(--third-color);
  
  }
.port-baton-all{
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px;
width: 69px;
height: 48px;
background: var(--accent-color);
 
}


.port-baton{
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;  
  color: var(--accent-color);  
  background: #F4F4FD;
  cursor: pointer
}





.service-port-btn:hover,
.service-port-btn:focus {
  background-color:#E7E9FC;
}

/*---------------- header----------------- */

.logo-link {
font-family: 'Raleway',sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color:  var(--fourth-color);
background:  var(--secodori-color); 
 
text-transform: uppercase;
}
.logo-link:hover,
.logo-link:focus{
   color: var(--fourth-color);
}
.logo-text{
  color: var(--accent-color);
  text-transform: uppercase;
  background:  var(--secodori-color);
}

.menu-item {
 font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;  
  letter-spacing: 0.02em;  
  color: var(--fourth-color);
  }
  .menu-item:hover,
  .menu-item:focus {
    color:  var(--accent-color) ;
  }
  
/* -------------------contact --------------------*/

.contact-tel {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;  
  letter-spacing: 0.02em;  
  color: #434455;
}
.contact-tel:hover,
.contact-tel:focus {
  color: var(--accent-color);
}


/* -----------------Title ------------------*/

.hero-name { 

font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--secodori-color);
}
.title-fon{
  background-color: var(--fourth-color);
}

/* -----------------------Strategy --------------------*/
.second-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;  
  text-align: center;
  letter-spacing: 0.02em;  
  color: var(--fourth-color);
  ;
}


.third-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--fourth-color);
}

.strategi-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* -----------------What are we doing------------------- */


  

/* ----------------------Our Team------------------- */
.our-team-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5; 
  letter-spacing: 0.02em;  
  color: #434455;
   
  }
  .our-team-fon{
    background: #E5E5E5;
  }

/* ----------------------footer -----------------------*/

.footer-text{  
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF

}
.footer-fon{
background:  var(--fourth-color);
}
.web-fon{
background:  var(--fourth-color);
}
.studio-test{
  color: #FFFFFF;
 
}